.body {
    height: calc(100vh - 114px);
    background-color: #582d8a;
    .card-title {
        color: #582d8a;
        
        .error-msg {
            color: red;
            font-weight: 700;
        }
    
        .succsess-msg {
            color: green;
            font-weight: 700;
        }
    }

    .form-container {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .background-img {
        background-color: #582d8a;
    }

    
}