<div class="row col-12 d-flex justify-content-center align-items-center h-conainer mx-0">
    <div class="col-8">
        <button mat-raised-button color="accent" class="me-3" (click)="navigateToRecipient()">
            Agregar Destinatario
        </button>
        <button mat-raised-button color="accent" class="me-3" (click)="navigateToTransfer()">
            Transferencia
        </button>
        <button mat-raised-button color="accent" class="me-3" (click)="navigateToTransferHistory()">
            Ver Historial
        </button>
    </div>
</div>
<router-outlet></router-outlet>