<div>
    <div class="body d-flex">
        <div class="col-4 background-img">
        </div>
        <div class="col-8 d-flex justify-content-center align-items-center bg-light position-relative" style="--bs-bg-opacity: .5;">
            <mat-card class="col-5 h-50 bg-light shadow-sm logo-shadow">
                <mat-card-content class="h-100 col d-flex flex-column justify-content-between">
                    <div>
                        <div>
                            <h1 class="card-title fw-bold">Bienvenido</h1>
                            <h3 class="mb-0 pt-5 text-secondary">Ingresa a tu cuenta</h3>
                        </div>
                        <form class="pt-2">
                            <mat-form-field class="w-100">
                                <mat-label>Rut</mat-label>
                                <input type="text" matInput [formControl]="rutFormControl" placeholder="11111111-1">
                                <mat-error *ngIf="rutFormControl.hasError('required')">
                                El rut es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="pt-2 w-100">
                                <mat-label>Password</mat-label>
                                <input type="password" [formControl]="passwordFormControl" matInput>
                                <mat-error *ngIf="passwordFormControl.hasError('required')">
                                    El password es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="align-self-end">
                        <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

