.body {
    height: calc(100vh - 64px);
    background-color: #582d8a;

    .custom-bg {
        background-color: rgb(248, 248, 248);
    }

    .custom-card{
        box-shadow: 0 2px 12px 0 rgb(196 196 196 / 50%);

    }

    .card-title {
        display: flex;
        justify-content: center;
        color: #673ab7;
        font-weight: 500;
    }

}