<div>
    <div class="body row col-12 justify-content-center mx-0">
        <div class="col-8 d-flex justify-content-center align-items-center flex-column bg-light">
            <div class="col-8 form-container">
                <mat-card class="d-flex flex-column justify-content-center align-items-center h-50">
                        <h1 class="welcome-title-1">BIENVENIDO A</h1>
                        <h1 class="welcome-title-2">MI BANCO</h1>
                </mat-card>
            </div>
        </div>
    </div>
</div>