.body {
    height: calc(100vh - 64px);
    background-color: #582d8a;
    .card-title {
        color: #582d8a;
    }

    .form-container {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .background-img {
        background-color: #582d8a;
    }
}