<div>
    <div class="body row col-12 justify-content-center mx-0">
        <div class="col-8 d-flex justify-content-center align-items-center flex-column bg-light">
            <div class="col-8 form-container">
                <div>
                    <h1 class="card-title fw-bold">Historial</h1>
                </div>
                <div class="table">
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nombre Destinatario</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="rut">
                        <th mat-header-cell *matHeaderCellDef> RUT </th>
                        <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
                      </ng-container>
                      <ng-container matColumnDef="bank">
                        <th mat-header-cell *matHeaderCellDef> Banco </th>
                        <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
                      </ng-container>
                      <ng-container matColumnDef="countType">
                        <th mat-header-cell *matHeaderCellDef> Tipo de cuenta </th>
                        <td mat-cell *matCellDef="let element"> {{element.countType}} </td>
                      </ng-container>
                      <ng-container matColumnDef="mount">
                          <th mat-header-cell *matHeaderCellDef> Monto </th>
                          <td mat-cell *matCellDef="let element"> {{element.mount}} </td>
                        </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
